<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto my-4">
      <div class="text-center display-2">About</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 offset-sm-1 my-2">
      <p class="text-center lead">ながのCAKEは全国発送可能なケーキ屋さんです。<br/>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br/>
      様々なバリエーションをご用意しております。<br/>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br/>
      ぜひご注文ください。
      </p>
    </div>
  </div>
</div>